<div class="layout-row">
  <ul class="sidebar" data-test-id="year-list">
    <span class="section-title">Select Year</span>
    <li *ngFor="let year of years;" class="sidebar-item"
        [ngClass]="{'active': selectedYear === year}">
      <a (click)="click(year)">{{year}}</a>
    </li>
  </ul>

  <section class="content">
    <section *ngIf="flag">
      <h3 data-test-id="total-matches">Total Matches: {{data.total}}</h3>
      <ul class="mr-20 matches styled slide-up-fade-in" data-test-id="match-list">
        <li  *ngFor="let obj of data.data;" class="slide-up-fade-in">Match {{obj.name}} won by {{obj.winner}}</li>

      </ul>
    </section>
    <p data-test-id="no-result" *ngIf="!flag" class="slide-up-fade-in">No Matches Found</p>
  </section>
</div>
